{% extends 'base.html' %}
{% load static %}

{% block content %}


<section>
    <div class="container animate__animated animate__fadeIn">
        <div class="row d-flex justify-content-center">

            <div class="col-12 col-lg-6" id="productsDiv">

                

                <div class="row d-flex justify-content-start">
                    <div class="col-3">
                        <div class="dropdown">
                            <button class="btn btn-dark dropdown-toggle text-button" type="button" data-bs-toggle="dropdown" aria-expanded="false" id="filterButton">Все товары</button>
                            <ul class="dropdown-menu" id="filterTypes" style="max-height: 300px; overflow-y: scroll;">
                                <!-- Глобальный поиск -->
                                <li><a class="dropdown-item text-button" onclick="getFilterProducts('all')" href="#">Все товары</a></li>
                            </ul>
                          </div>
                    </div>

                </div>

                <div class="row d-flex justify-content-start mt-5">
                    <div class="col-6">
                        <h1 class="text-h2" id="count_product">Всего товара - 0 штук</h1>
                    </div>
                </div>

                
                <div class="products" id="product_list">
                    
    
                </div>
            </div>

                
            <div class="col-12 col-lg-6">

                <div class="addProduct" style="display: block;">

                    <div class="row d-flex justify-content-start mt-5">
                        <div class="col-12">
                            <h1 class="text-h2 text-center">Добавить товар</h1>
                        </div>
                    </div>
    
                    <div class="row d-flex justify-content-center mt-3">
                        <div class="col-10 col-lg-8">
                            <form onsubmit="return false;" id="form_create_product" method="POST" enctype="multi-part/formdata">
                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label text-h3">Имя товара</label>
                                    <input name="title" type="text" class="form-control text-h3" id="exampleInputEmail1" aria-describedby="emailHelp">
    
                                    <label for="exampleInputEmail1" class="form-label text-h3">Описание товара</label>
                                    <input name="description" type="text" class="form-control text-h3" id="exampleInputEmail1" aria-describedby="emailHelp">
    
                                    <label for="exampleInputEmail1" class="form-label text-h3">Цена товара</label>
                                    <input name="price" type="text" class="form-control text-h3" id="exampleInputEmail1" aria-describedby="emailHelp">
    
                                    <label for="exampleInputEmail1" class="form-label text-h3">Тип товара</label>
                                    <input name="type" type="text" class="form-control text-h3" id="inputTypes" data-bs-toggle="dropdown" aria-expanded="false">

                                    <div class="dropdown">
                                        <ul class="dropdown-menu" aria-labelledby="inputTypes" id="listTypes" style="max-height: 300px; overflow-y: scroll;">
                                            <!-- размещение типов комп техники -->
                                        </ul>
                                    </div>
    
                                    <label for="exampleInputEmail1" class="form-label text-h3">Количество товара</label>
                                    <input name="count" type="text" class="form-control text-h3" id="exampleInputEmail1" aria-describedby="emailHelp">
    
                                    <label for="exampleInputEmail1" class="form-label text-h3">Артикул товара</label>
                                    <input name="articul" type="text" class="form-control text-h3" id="exampleInputEmail1" aria-describedby="emailHelp">
    
                                    <label for="formFile" class="form-label text-h3">Фото товара</label>
                                    <input name="image" class="form-control text-h3" id="file_loader" type="file" id="formFile">
                                </div>
                                
                                
                                <button onclick="createProduct()" type="submit" class="btn btn-dark text-h2">Добавить</button>
                                </form>
                        </div>
                    </div>
                </div>

                <div class="editProduct" style="display: none;">

                    <div class="row d-flex justify-content-start mt-5">
                        <div class="col-12">
                            <h1 class="text-h2 text-center">Редактирование товара</h1>
                        </div>
                    </div>

                    <div class="row d-flex justify-content-center mt-3">
                        <div class="col-10 col-lg-8">

                        </div>
                    </div>


                </div>

                
    
            </div>

            
        </div>
    </div>
</section>


<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
        <img src="{% static 'image/base/logo.svg' %}" class="rounded me-2" width="15px">
        <strong class="me-auto text-h3">YION</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body text-h3" id="toast_content">
        
        </div>
    </div>
</div>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="{% static 'js/main/constData.js' %}"></script>
<script src="{% static 'js/main/templates.js' %}"></script>
<script src="{% static 'js/main/filter.js' %}"></script>

{% endblock %}