{% extends 'base.html' %}
{% load static %}

{% block content %}


<section>
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-6">

                

                <div class="row d-flex justify-content-start">
                    <div class="col-3">
                        <div class="dropdown">
                            <button class="btn btn-dark dropdown-toggle text-button" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                              Фильтры
                            </button>
                            <ul class="dropdown-menu">
                              <li><a class="dropdown-item text-button" href="#">Мыши</a></li>
                              <li><a class="dropdown-item text-button" href="#">Персональные пк</a></li>
                              <li><a class="dropdown-item text-button" href="#">Клавиатуры</a></li>
                            </ul>
                          </div>
                    </div>

                    <div class="col-3">
                        <button class="btn btn-dark dropdown-toggle text-button" type="button">
                            Еще что то
                        </button>
                    </div>

                    <div class="col-3">
                        <button class="btn btn-dark dropdown-toggle text-button" type="button">
                            Еще что то
                        </button>
                    </div>
                </div>

                <div class="row d-flex justify-content-start mt-5">
                    <div class="col-4">
                        <h1 class="text-h1">Мыши 3 товара</h1>
                    </div>
                </div>

                

                <div class="row d-flex justify-content-center mt-3 shadow p-1" style="border-radius: 10px;">
                    <div class="col-3">
                        <a href="#"><img src="{% static 'image/main/mouse.jpg' %}" width="100%" alt=""></a>
                    </div>

                    <div class="col-7">
                        <div class="row">
                            <div class="col-12">
                                <a href="#" class="text-a wrap text-dark">Мышь проводная Aceline CM-408BU черный [800 dpi, светодиодный, USB Type-A, кнопки - 3]</a>
                            </div>
                        </div>

                        <div class="row mt-5">
                            <div class="col-6">
                                <h3 class="text-h3">В наличии: 28</h3>
                            </div>
                            <div class="col-6">
                                <h3 class="text-h3">Артикул: <a href="#">093452345</a></h3>
                            </div>
                        </div>
                    </div>

                    <div class="col-2">
                        <div class="row d-flex justify-content-end mt-2">
                            <div class="col-12">
                                <h3 class="text-h1 text-dark">5 009р</h3>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 d-flex justify-content-center mt-3">
                                <button type="button" class="btn btn-dark text-button">Изменить товар</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row d-flex justify-content-center mt-5 shadow p-1" style="border-radius: 10px;">
                    <div class="col-3">
                        <a href="#"><img src="{% static 'image/main/mouse2.jpg' %}" width="100%" alt=""></a>
                    </div>

                    <div class="col-7">
                        <div class="row">
                            <div class="col-12">
                                <a href="#" class="text-a wrap text-dark">Мышь проводная HyperX Pulsefire Surge RGB [4P5Q1AA] черный [16000 dpi, светодиодный, USB Type-A, кнопки - 6]</a>
                            </div>
                        </div>

                        <div class="row mt-5">
                            <div class="col-6">
                                <h3 class="text-h3">В наличии: 2</h3>
                            </div>
                            <div class="col-6">
                                <h3 class="text-h3">Артикул: <a href="#">023423345</a></h3>
                            </div>
                        </div>
                    </div>

                    <div class="col-2">
                        <div class="row d-flex justify-content-end mt-2">
                            <div class="col-12">
                                <h3 class="text-h1 text-dark">5 009р</h3>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 d-flex justify-content-center mt-3">
                                <button type="button" class="btn btn-dark text-button">Изменить товар</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row d-flex justify-content-center mt-5 shadow p-1" style="border-radius: 10px;">
                    <div class="col-3">
                        <a href="#"><img src="{% static 'image/main/mouse.jpg' %}" width="100%" alt=""></a>
                    </div>

                    <div class="col-7">
                        <div class="row">
                            <div class="col-12">
                                <a href="#" class="text-a wrap text-dark">Мышь проводная Aceline CM-408BU черный [800 dpi, светодиодный, USB Type-A, кнопки - 3]</a>
                            </div>
                        </div>

                        <div class="row mt-5">
                            <div class="col-6">
                                <h3 class="text-h3">В наличии: 28</h3>
                            </div>
                            <div class="col-6">
                                <h3 class="text-h3">Артикул: <a href="#">093452345</a></h3>
                            </div>
                        </div>
                    </div>

                    <div class="col-2">
                        <div class="row d-flex justify-content-end mt-2">
                            <div class="col-12">
                                <h3 class="text-h1 text-dark">5 009р</h3>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 d-flex justify-content-center mt-3">
                                <button type="button" class="btn btn-dark text-button">Изменить товар</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-6">

            </div>
        </div>
    </div>
</section>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
{% endblock %}